/* text font colour white
#F1F1F1
 */

*
{
    margin: 0;
    padding: 0;
    font-family: inter;
    /* text-decoration: none; */
}


body
{
    background-color: #F8F8FF;
}

#navSec
{
    /* width: 100%; */
    margin-top: 30px;
    padding: 0;
    display: inline-flex;
}

#logo
{
    margin-left: 40px;
}
#navBar
{
    margin-left: 810px;
    display: flex;
    list-style-type: none;
}
#navBar li 
{
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
}
#navBar li a 
{
    text-decoration: none;
}


/* Page One */
#leftOne
{
    margin-top: 150px;
    margin-left: 60px;
}

#topOne
{
    font-size: 45px;
}

#bottomOne
{
    margin-top: 90px;
}

.button
{
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
    border: black none ;
    border-radius: 5px;
    color: #F1F1F1;
    background-color: #345995;
}

#callRqst
{
    margin-left: 25px;
}

#speakerPhone
{
    height: 400px;
    width: 400px;
    margin-left: 250px;
    margin-top: 65px;
}

#pageOne
{
    display: flex;
}

/* second page */

#pageTwo
{
    margin-top: 100px;
    height: 1020px;
    width: 100%;
    background-color: #345995;
}

#topTwo
{
    display: flex;
    justify-content: center;
    text-align: center;
}

#about
{
    margin-top: 70px;
    margin-bottom: 25px;
    color: #F1F1F1;
}

#aboutPar
{
    /* font-size: ; */
    color: #F1F1F1;
    font-size: 20px;
    margin-top: 40px;
}

#downloadBut
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#downloadPor
{
    text-decoration: none;
    color: #F1F1F1;
    font-size: 20px;
    display: flex;
    text-align: center;
    margin-top: 30px;
    padding-inline: 50px;
    border-radius: 110px;
    background-color: #121212;
    padding-top:5px ;
    padding-bottom: 5px;
}

/* key features  */

#headingOur
{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: #F1F1F1;
}

/* tiles */

#keyFea
{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-inline: 60px;
}

.tiles
{
    width: 300px;
    height: 457px;
    padding: 30px;
    border-radius: 25px;
    background-color: #121212;
    color: #F1F1F1;
}

.tileHd
{
    display: flex;
    justify-content: center;
}
.points
{
    margin-top: 50px;

}

.pointLis
{
    margin-top: 30px;
    margin-left: 15px;
    font-weight: 300;
    font-size: 20px;
    list-style-type: disc;
}

#tileButton
{
    display: flex;
    justify-content: center;
}

.tileBut
{
    margin-block: 140px;
    text-decoration: none;
    color: #F1F1F1;
    padding-inline: 25px;
    border-radius: 50px;
    padding-block: 5px;
    background-color: #345995;
    font-size: 20px;
}

/* thirdPage */

#pageThr
{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#statIma
{
    height: 400px;
    width: 400px;
}

#rightThr
{
    font-size: 45px;
    margin-right: 50px;
}

/* footer */
#footerList
{
    background-color: #121212;
    border-radius: 25px 25px 0px 0px;
    padding: 40px 200px 10px 40px;
    color: #F1F1F1;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

#list1L
{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#list1L li
{
    margin: 5px;
}

#list2L
{
    list-style-type: none;
}

#list2L li
{
    margin: 5px;
}

#listthree
{
    display: flex;
    align-items: center;
}